html
{
    background-color: black;
}

header
{
    background-color: blue;
    width: 1334x;
    height: 215px;
    margin: 5px;
    border-radius: 0px;
}

section#banner 
{
    background-color: white;
    width: 1030px;
    height: 200px;
    float: left;
    margin: 5px;
    border-radius: 0px;
    text-align: center;
}

section#logo 
{
    background-color: white;
    width: 270px;
    height: 200px;
    float: left;
    margin: 5px;
    border-radius: 0px;
    text-align: center;
}

nav
{
    background-color: green;
    width: 1325px;
    height: 100px;
    margin: 5px;
    border-radius: 0px;
}

main
{
    background-color: grey;
    width: 500x;
    height: 262px;
    margin: 5px;
    border-radius: 0px;
}

article
{
    background-color: white;
    width: 1000px;
    height: 253px;
    float: left;
    margin: 5px;
    border-color: brown;
}

aside
{
    background-color: white;
    width: 300px;
    height: 255px;
    float: left;
    margin: 5px;
    border-radius: 0px;
}

footer{
    background-color: orange;
    width: 1325px;
    height: 50px;
    margin: 5px;
    border-radius: 0px;
}
